<head>
    <title>Register</title>
</head>
<form action="/users/register" method="post">
    <p>username</p>
    <input name="name" type="text">
    <br>
    <p>email</p>
    <input name="email" type="email">
    <br>
    <p>password</p>
    <input name="password" type="password">
    <input type="submit">
</form>